@import url(https://fonts.googleapis.com/css?family=Oxygen:400,300,700);

#menu-0 .navbar-toggler {
  color: #ffffff;
}
#menu-0 .nav-link {
  font-size: 24px;
  font-family: 'Oxygen', sans-serif;
}
#htmlblock-block-6 DIV {
  text-align: left;
}
#htmlblock-block-6 H1 {
  text-align: left;
}
